.w-25{
  width: 25%;
}
.w25{
  width:25%
}
.logo-text{
  width: 100px;
}
.bi{
  margin-right: 10px;
}
.story{
  height: 70px;
  padding:10px;
}
.posts {
  padding:20px;;
}

.image{
  width: 300px;
}
.suggestions{
  width:80%;
}
.suggestions h5{
  font-size: 16px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.suggestions .dp{
  margin-top: 0px !important;
  margin-Left: 10px;
  margin-bottom: 0;
}
.gradient-border{
  width:45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);

}
.story-dp{
  width:40px;
}
